# 🛍️ Анализ данных покупок в торговых центрах Стамбула
## customer_shopping_data.csv

**Цель:** Исследовать поведение клиентов, финансовые метрики и выявить тренды покупок на основе данных из 10 торговых центров (2021–2023).

**Источник данных:** [Kaggle - Customer Shopping Dataset](https://www.kaggle.com/datasets/mehmettahiraslan/customer-shopping-dataset)

In [ ]:
# 📦 Импорт библиотек
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

sns.set(style='whitegrid')

In [ ]:
# 📁 Загрузка и просмотр данных
df = pd.read_csv('customer_shopping_data.csv')  # Замените на путь к файлу
df.head()

## 📊 1. Общая информация и очистка данных

In [ ]:
# Проверка пропущенных значений и типов данных
df.info()
df.isna().sum()

## 💰 2. Финансовый анализ

In [ ]:
# Расчёт выручки по каждой транзакции
df['total_price'] = df['quantity'] * df['price']
df['invoice_date'] = pd.to_datetime(df['invoice_date'])

# Общая выручка
total_revenue = df['total_price'].sum()
print(f"Общая выручка: {total_revenue:.2f} TL")

## 👥 3. Анализ поведения клиентов

In [ ]:
# Покупки по полу
sns.countplot(data=df, x='gender')
plt.title('Распределение клиентов по полу')
plt.show()

## 🕒 4. Временные тренды

In [ ]:
# Выручка по месяцам
monthly_sales = df.groupby(df['invoice_date'].dt.to_period('M'))['total_price'].sum()
monthly_sales.plot(kind='bar', figsize=(12, 5), title='Выручка по месяцам')
plt.ylabel('TL')
plt.xticks(rotation=45)
plt.show()